
body, ul, li {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: rgb(54, 1, 153);
    padding: 10px;
    color: gold;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: gold;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: gold;
  }
  
  p {
    font-size: 16px;
    color: gold;
  }
  
  footer {
    background-color: rgb(54, 1, 153);
    padding: 10px;
    text-align: center;
    color: gold;
  }
  
  .prijava {
    text-align: right;
    padding: 10px;
  }
  
  .prijava button {
    background-color: gold;
    color: rgb(54, 1, 153);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-sadrzaj {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
  }
  
  .zatvori {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .zatvori:hover,
  .zatvori:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  